# ignore tmux plugins
tmux/plugins

# ignore pycache
qtile/__pycache__

*.bak

nvim/lazy-lock.json

# I probably wont edit these and local changes are just email and name by the setup script
gitconfig
gitconfig-work

